@font-face{
	src : url('fonts/GothamPro/GothamProBlack/GothamProBlack.eot');
	src : url('fonts/GothamPro/GothamProBlack/GothamProBlack.ttf');
	src : url('fonts/GothamPro/GothamProBlack/GothamProBlack.woff');
	font-family: 'GothamProBlack';
	font-style: normal;
	font-weight: normal;
}

@font-face{
	src : url('fonts/GothamPro/GothamProRegular/GothamProRegular.eot');
	src : url('fonts/GothamPro/GothamProRegular/GothamProRegular.ttf');
	src : url('fonts/GothamPro/GothamProRegular/GothamProRegular.woff');
	font-family: 'GothamProRegular';
	font-style: normal;
	font-weight: normal;
}
@font-face{
	src : url('fonts/Lato/LatoRegular/LatoRegular.eot');
	src : url('fonts/Lato/LatoRegular/LatoRegular.ttf');
	src : url('fonts/Lato/LatoRegular/LatoRegular.woff');
	font-family: 'LatoRegular';
	font-style: normal;
	font-weight: normal;
}
body{
	background-color: #111111;
}
body, h1, h2, h3, h4, h5 , p, ul , li, div{
	margin: 0;
	padding: 0;
	font-family: 'GothamProRegular';
}

.overflow{
	overflow: hidden;
}

li{
	list-style: none;
}
a{
	text-decoration: none;
}
input , a , button{
	outline: none;
}



/*header-style*/

.header-bg{
	background-image: url(images/header-bg.png);
	height: 100vh;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	position: relative;
}
.fix{
	position: fixed;
	width: 100%;
	z-index: 99999;
	padding-top: 15px !important;
	padding-bottom: 10px;
	box-shadow: 0px 10px 32px 5px #000;
	background: linear-gradient(90deg, rgba(42,191,122,0.8) 0%, rgba(26,131,82,1) 100%);
}
.header-bg:before{
	position: absolute;
	content: '';
	display: block;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.4);
}
.nav , .logo , .menu{
	display: flex;
	justify-content: space-between;
	align-items: center;	
	position: relative;
}

.logo h2{
	font-size: 22px;
	text-transform: uppercase;
	color: #fff;
}
.logo > a > img:last-child{
	display: none;
}
.nav{
	padding-left: 140px;
	padding-right: 140px;
	padding-top: 46px;
	position: fixed;
	z-index: 100;
	width: 85%;

}
.drop-btn{
	display: none;
}

.menu li a{
	font-size: 20px;
	color: #fff;
}
.menu li a:hover:after{
	width: 100%;
}
.menu li a:after{
	content: '';
	display: block;
	width: 0%;
	height: 2px;
	transition: 0.75s;
	background-color: #2ABF7A;
}
.active-page:after{
	content: '' !important;
	display: block !important;
	width: 100% !important;
	height: 2px !important;
	background-color: #2ABF7A !important;
}

.menu li a sup{
	color: #FD5E53;
}
.menu li{
	margin-right: 20px;
}
.menu li:last-child{
	margin-right: 0;
}
.header-title h1 , .header-title h2{
	color: #FFFFFF;
}
.header-title{
	position: absolute;
	top: 46%;
	left: 13%;
}
.header-title h1{
	color: #f5f5f5;
	font-size: 70px;
	font-family: 'GothamProBlack';
}

.header-title h2{
	font-size: 28px;
}
.preorder-btn{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 220px;
	height: 70px;
	background: rgb(42,191,122);
    background: linear-gradient(90deg, rgba(42,191,122,1) 0%, rgba(26,131,82,1) 100%);
	border-radius: 5px 0 0 0;
}
.preorder-btn a{
	display: block;
	text-align: center;
	line-height: 70px;
	font-size: 14px;
	font-family: 'LatoRegular';
	text-transform: uppercase;
	color: #fff;
	border-radius: 0px 0px 0px 0px;
}

/*main style*/

main{
	background-color: #111111;
}

.moto-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.moto-box{
	position: relative;
	width: 40%;
}
.moto-box:before{
	content: '';
	display: block;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
}
.moto-box img{
	display: block;
	width: 100%;
	height: auto;
}
.moto-box-info{
	position: absolute;
	bottom: 80px;
	text-align: center;
	width: 100%;
}
.moto-box-info h2{
	color: #fff;
	font-size: 50px;
	text-transform: uppercase;

}
.moto-box-info a{
	display: inline-block;
	color: #2ABF7A;
	font-size: 18px;
	transition: 0.3s;
	text-transform: uppercase;
	padding-top: 5px;
}
.moto-box-info a:hover{
	text-shadow: 0px 0px 10px #2ABF7A;
}

.moto-about{
	/*height: 100vh;*/
	display: flex;
}

.moto-about-left , .moto-about-right{
	width: 50%;
}
.moto-about-left{
	background-color: #111111;
}
.moto-about-left-box{
	width: 529px;
	padding-top: 20%;
	padding-left: 90px;
}
.moto-about-left-box h2{
	font-size: 30px;
	font-family: 'GothamProBlack';
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 5px;
}
.moto-about-left-box p {
	font-size: 20px;
	margin-top: 50px;
	color: #CCCCCC;
}
.moto-about-left-box span{
	color : #FD5E53;
}
.moto-about-left-box a{
	font-size: 18px;
	color : #FD5E53;
	transition: 0.3s;
	margin-top: 44px;
	display: inline-block;
}
.moto-about-left-box a:hover{
	text-shadow: 0 0 10px #FD5E53;
}
.moto-about-right{
	/*overflow: hidden;
	background-image: url(images/about-img.jpg);
	background-position: left;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;*/
}
.moto-about-right img{
	width: 100%;
	height: 100%;
	max-width: 100%;
	display: block;
}
.moto-blog-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.moto-blog-box{
	width: 33.33%;
	position: relative;
}
.moto-blog-box:before{
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
}
.moto-blog-box img{
	width: 100%;
	height: 100%;
}
.moto-blog-box-info{
	position: absolute;
	bottom: 30px;
	left: 30px;
	width: 320px;
}
.moto-blog-box-info a{
	color: #FD5E53;
	text-transform: uppercase;
	font-size: 28px;
	letter-spacing: 3px;
	font-family: 'GothamProBlack';
}
.moto-blog-box-info p{
	font-size: 17px;
	color: #fff;
	padding-top: 17px;
}

.sub-news-container{
	height: 390px;
	background-color: #111111;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.sub-news-container h3{
	color: #fff;
	font-size: 25px;
	font-family: 'GothamProBlack';
	text-transform: uppercase;
	letter-spacing: 3px;
}
.sub-news-container span{
	color: #2ABF7A;
}
.sub-news-container form{
	display: flex;	
}
.sub-news-container form label{
	margin-right: 30px;
}
.sub-news-container form label input{
	width: 266px;
	font-size: 18px;
	border: none;
	background-color: transparent;
	color: #fff;
	transition: 0.3s;
	display: block;
}
.sub-news-container > form > label > input > .focus:after{
	box-shadow: 0 0 14px #26AF6F;
}
.sub-news-container > form > button{
	width: 180px;
	height: 50px;
	background: rgb(42,191,122);
	background: linear-gradient(90deg,
	rgba(42,191,122,1) 0%,
	rgba(26,131,82,1) 100%);
	border-radius: 5px;
	text-align: center;
	line-height: 50px;
	text-transform: uppercase;
	transition: 0.35s;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	font-family: 'GothamProBlack';
	margin-top: -10px;
}
.sub-news-container > form > button:hover {
    box-shadow: 0 0 14px  #26AF6F;
}
.focus{
	box-shadow: 0px 25px 10px -8px #2ABF7A;
}
.sub-news-container form label:after{
	width: 100%;
	content: '';
	display: block;
	background-color: #2ABF7A;
	height: 2px;
	margin-top: 10px;
}
.sub-news-container form label input label:focus > .sub-news-container form label:after{
	box-shadow: 0 0 6px #2ABF7A;
	background-color: red;
}



/*footer*/

.footer-container{
	height: 462px;
	background-color: #2ABF7A;
	display: flex;
	justify-content: space-around;	
	padding-top: 130px;
	box-sizing: border-box;
}
.footer-box h3{
	font-size: 25px;
	color: #fff;
	padding-bottom: 28px;
	font-family: 'GothamProBlack';
}
.footer-box > ul > li > a{
	font-size: 18px;
	color: #fff;
}
.footer-box > ul > li > a:hover{
		color: #eef933;
}
.footer-box ul > li{
	padding: 15px 0; 
}
.footer-box ul li a span{
	font-family: 'GothamProBlack';
}

.footer-social{
	display: flex;
	width: 266px;
	justify-content: space-between;
}

/*about style*/

.about-bg{
	background-image: url(images/about-page.jpg);
}
.about-title{
	position: relative;
	top: 38%;
}
.about-title h1{
	font-size: 70px;
	color: #fff;
	text-align: center;
	font-family: 'GothamProBlack';
	text-transform: uppercase;
}
.about-title h1 span{
	color: #FD5E53;
}
.about-title h2{
	font-size: 28px;
	color: #fff;
	text-align: center;
	padding-top: 25px;
}

.team-container{
	background-color: #111111;
	height: 100vh;
}
.team-container h3{
	text-align: center;
	color: #fff;
	font-size: 30px;
	letter-spacing: 5px;
	padding-top: 67px;
}
.team-container h3 span{
	color : #FD5E53;
}
.team-box{
	display: flex;
	justify-content: space-between;
	max-width: 1351px;
	margin: auto;
	padding-top: 182px;



}
.owl-dots{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
	width: 12px !important;
	height: 12px !important;
	border-radius: 100% !important;
	background-color: rgba(253, 94, 83 , 0.4) !important;
	margin: 0 8px !important;
	padding: 0 !important;
	border: none !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #FD5E53 !important; 
  }

.team-box img{
	border-radius: 100%;
	width: 50%;
	margin: auto;
	display: block;
}
.team-item{
	width: 351px;
}
.team-item h4{
	text-align: center;
	color: #fff;
	font-size: 30px;
	padding-top: 50px;
}
.team-item h5{
	font-size: 18px;
	color: #676767;
	text-align: center;
	padding-top: 6px;
}
.team-item p{
	font-size: 18px;
	color: #fff;
	text-align: center;
	padding-top: 28px;
}
.local-container{
	background-color: #111111;
	display: flex;
}
.local-left{
	width: 40%;
	padding-top: 60px;
}
 .local-right{
 	width: 60%;
 }
 	
.local-left{
	padding-left: 195px;
}
.local-left h3{
	color: #fff;
	font-size: 40px;
	padding-bottom: 69px;
	font-family: 'GothamProBlack';
}
.local-left span{
	font-size: 21px;
	color: #B4B4B4;
	display: block;
	padding-top: 49px;
}
.local-left a{
	font-size: 25px;
	display: inline-block;
	color: #fff;
	font-family: 'GothamProBlack';
	transition: 0.3s;
	padding-top: 2px;
}
.local-left a:hover{
	color: #FD5E53;
	text-shadow: 0 0 10px #FD5E53;
}
.local-right img{
	width: 100%;
	height: 100%;
}

/*story*/

.story-header{
	display: flex;
}
.blur-img{
	display: none;
}
.story-nav{
	position: absolute;
	width: 85%;
}
.story-about{
	padding-top: 30%;
    padding-left: 22%;
}
.story-about p{
	line-height: 30px;
}
.story-shadow:after{
	
}
.story-item-container{
	display: flex;
	flex-wrap: wrap;
	background-color: #111111;
	justify-content: space-around;
}
.story-item{
	width: 520px;
	padding-top: 50px;
	box-sizing: border-box;
}
.story-item img{
	width: 100%;
}
.story-item h3{
	font-size: 20px;
	font-family: 'GothamProBlack';
	letter-spacing: 3px;
	padding-top: 30px;
	padding-bottom: 20px;
	color: #fff;
	text-transform: uppercase;
}
.story-item span{
	color: #FD5E53;
}
.story-item p{
	font-size: 16px;
	color: #CCCCCC;
	line-height: 20px;
}

.story-view-header{
	background-color: #111111;
}
.story-btn-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 400px;

}
.story-btn-box a{
	color: #fff;
}
.story-btn-box a:last-child{
	width: 180px;
	height: 50px;
	background: rgb(42,191,122);
    background: linear-gradient(90deg, rgba(42,191,122,1) 0%, rgba(26,131,82,1) 100%);
    border-radius: 25px;
	text-align: center;
	line-height: 50px;
	text-transform: uppercase;
	transition: 0.35s;
}
.story-btn-box a:last-child:hover{
	box-shadow: 0 0 14px #26AF6F;
}
.story-title-box{
	position: relative;
	max-width: 1640px;
	margin: auto;
	padding-top: 83px;
	min-height: 850px;
}
.story-title-box img{
	width: 100%;
	height: 100%;
}
.story-title-box h2{
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	top: 37%;
	width: 100%;
	font-family: 'GothamProBlack';
}
.story-title-box span{
	color: #FD5E53;
}
.story-title-box p{
	font-size: 16px;
	color : #fff;
	padding-top: 35px;
	text-align: center;
	position: absolute;
	top: 41%;
	width: 100%;
}
.story-title-box a{
	color: #FD5E53;
	font-size: 20px;
	display: block;
	text-align: center;
	padding-top: 35px;
	width: 140px;
	margin: auto;
}
.story-title-box a:after{
	content: '';
	display: block;
	width: 2px;
	height: 77px;
	background-image: url(images/Line.png);
	padding-top: 21.5px;
	box-sizing: border-box;
	margin: auto;
}
.story-view-nav{
	padding-top: 20px;
}
.story-view-container{
	margin: auto;
	padding-top: 148.5px;
	display: flex;
	flex-wrap: wrap;
	max-width: 1640px;
	justify-content: space-between;
}
.story-view-container img{
	width: 100%;
}
.story-view-container p , .story-view-bot p{
	font-size: 20px;
	color: #fff;
	margin: 60px 0;
}
.story-view-left , .story-view-right{
	width: 49%;
}
.story-view-bot{
	width: 100%;
	padding-top: 162px;
}
.story-view-bot p{
	font-size: 20px;
	color: #fff;
	text-align: center;
	width: 960px;
	margin: 60px auto;
}
.sub-btn{
	margin: auto;
	width: 230px;
	height: 75px;
}
.sub-btn a{
	width: 230px !important;
	height: 75px !important;
	line-height: 75px !important;
}
.social-box{
	margin: auto;
	padding-top: 65px;
}

.more-story{
	background-color: #111111;
	padding-top: 168px;
}
.more-story h2{
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-family: 'GothamProBlack';
	color: #fff;
}
.more-story span{
	color: #FD5E53;
}
.more-story-container{
	display: flex;
	max-width: 1640px;
	justify-content: space-between;
	padding-top: 142px;
	margin: auto;
	padding-bottom: 145px;
}
.more-story-box{	
	width: 450px;
}
.more-story-box img{
	width: 100%;
}
.more-story-box h3{
	font-size: 20px;
	margin-top: 28px;
	font-family: 'GothamProBlack';
	letter-spacing: 3px;
	color: #fff;
}
.more-story-box p{
	color: #fff;
	font-size: 15px;
	margin-top: 28px;
}
.more-story-box a{
	font-size: 18px;
	color: #FD5E53;
	display: inline-block;
	margin-top: 40px;
	transition: 0.3s;
}
.more-story-box a:hover{
	text-shadow: 0 0 10px #FD5E53;
}


/*moto-page*/

.moto-bg{
	background-image: url(images/moto-background.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
}
.moto-header-title{
	position: absolute;
	bottom: 91px;
	left: 140px;
}
.moto-header-title{
	font-size: 50px;
	font-family: 'GothamProBlack';
	color: #fff;
}
.moto-header-title span{
	color: #FD5E53;
}
.explore {
	text-transform: uppercase;
	font-size: 20px;
	color: #2ABF7A;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 52.5px;
	width: 103px;
}
.explore:after{
	content: '';
	display: block;
	height: 1px;
	width: 0%;
	background-color: #2ABF7A;
	margin-top: 5px;
	transition: 0.5s;
}
.explore:hover:after{
	width: 100%;
}
.specifications-container{
	margin-top: 71px;
	max-width: 1680px;
	margin: auto;
}
.specifications-form{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0 ,0, 0.9);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.specifications-form form{
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
	position: absolute;
	left: 0;
	right: 0;
	top: 40%;
	bottom: 50%;
	width: 70%;
	height: 243px;
	margin:auto;
}
.specifications-form form input{
	width: 48%;
	height: 50px;
	border: 2px solid #57585a;
	border-radius: 5px;
	color: #fff;
	background-color: transparent;
	padding: 11px 0 12px 15px;
	box-sizing:border-box; 
}
.preorder-form-btn{
	left: 0 !important;
}
.specifications-photo{
	width: 50%;
	position: relative;
}
.specifications-block{
	display: flex;
	padding-top: 70px;
}
.specifications-block img{
	width: 100%;
}
.specifications-container h3{
	text-align: center;
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'GothamProBlack';
}
.parameters-container{
	width: 	50%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding-left: 60px;
	position: relative;
}
.parameters-container ul li {
	color: #fff;
}
.parameters-left{
	width: 320px;
}
.parameters-right{
	width: 300px;
}

.parameters-left li{
	text-transform: uppercase;
	font-size: 22px;
	text-align: right;
	position: relative;
	padding: 18.5px 0;
	font-family: 'GothamProBlack';
}
.preorder-form-btn , .preorder-moto-btn{
	position: absolute;
	width: 220px;
	height: 70px;
	background: rgb(42,191,122);
	background: linear-gradient(90deg, rgba(42,191,122,1) 0%, rgba(26,131,82,1) 100%);
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	border: none;
	left: 120px;
	text-transform: uppercase;
	right: 0;
	margin: auto;
	bottom: -100px;
	cursor: pointer;
}	

.parameters-right li:before{
	content: '';
	position: absolute;
	display: block;
	background-image: url(images/line-black.png);
	background-repeat: no-repeat;
	width: 121px;
	height: 2px;
	left: -153px;
	top: 30px;
}
.parameters-right li{
	font-size: 20px;
	padding: 20px 0;
	position: relative;
}
@media screen and (max-width: 1024px){
	.menu{
		position: absolute;
		flex-direction: column;
		top: 0;
		width: 100%;
		background-color: #2ABF7A;
		padding-top: 80px;
		padding-bottom: 20px;
		z-index: 50;
		transform: translateX(100%);
		transition: 0.4s;
	}
	.logo{
		padding-left: 20px;
		z-index: 100;
	}
	.logo-show{
		display: block !important;
	}
	.logo-hide{
		display: none !important;
	}
	.nav{
		padding-right: 0px;
		padding-left: 0px;
		display: flex;
		width: 100%;
		align-items: center;
		box-sizing: border-box;
		padding-top: 25px;
	}
	.fix{
		padding-top: 25px !important;

	}
	.menu li{
		margin-right: 0;
		padding: 25px 0;
	}
	.drop-btn{
		width: 35px;
		position: absolute;
		right: 30px;
		top: 30px;
		cursor: pointer;
		z-index: 100;
		display: block;
	}
	.stick-top , .stick-mid , .stick-bot{
		width: 100%;
		height: 3px;
		background-color: #fff;
	}
	.stick-mid{
		margin: 12px 0px;
	}
	.show{
		transform: translateX(0%);	
		box-shadow: 0px 10px 32px 5px #000;
	}
	.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
		background-color: #FD5E53;
	}
	.top-move{
		display: none;
	}
	.mid-move{
		transform: rotate(130deg);
	}
	.bot-move{
		transform: rotate(50deg);
		position: relative;
		top: -15px;
	}
	.moto-box-info h2{
		font-size: 30px;
	}
	.moto-about-left-box{
		width: 88%;
	}
	.moto-about{
		padding: 0px;
		box-sizing: border-box;
	}
	.moto-about-left{
		padding: 25px 0;
	}
	.moto-about-left-box{
		width: 100%;
	}
	.column{
		padding-left: 0px;
		padding-top: 0px;
	}
	.team-box{
		padding-top: 80px;
	}
	.team-box img{
		width: 40%;
	}
	.team-item h4{
		font-size: 20px;
		padding-top: 20px;
	}
	.team-item h5{
		font-size: 18px;
		padding-top: 6px;
	}
	.team-item p{
		font-size: 14px;
		padding-top: 28px;
		padding-left: 12px;
		padding-right: 12px;
		box-sizing: border-box;
	}
	.moto-about-left-box {
    	padding-top: 10%;
    	padding-left: 30px;
    	padding-right: 30px;
    	box-sizing: border-box;
	}
	.moto-about-left-box h2{
		font-size: 20px;
	}
	.moto-blog-box-info p{
		font-size: 12px;
		width: 85%;	
	}
	.moto-blog-box-info a{
		font-size: 22px;
	}
	.moto-blog-box-info{
		width: 85%;
	}
	.footer-container{
		flex-direction: column;
	}
	.footer-box > ul > li > a{
		text-align: center;
		display: block;
	}

	.footer-box h3{
		text-align: center;
	}
	.footer-container{
		box-sizing: content-box;
		padding-top: 16px;
		height: auto;
	}
	.footer-box{
		padding-top: 51px;
	}
	.footer-social{
		width: 235px;
		margin: auto;
		flex-wrap: wrap;
	}
	.footer-social li{
		margin: 35px;
	}
	.sub-news-container h3{
		font-size: 15px;
	}
	.sub-news-container{
		padding: 0 50px;
		flex-direction: column;	
	}
	.local-left span{
		padding-top: 9px;
		font-size: 18px;
	}
	.local-left{
		padding-left: 35px;
	}
	.local-container{
		min-height: 500px;
	}
	.local-left h3{
		padding-bottom: 39px;
	}
	.local-left a{
		font-size: 24.5px;
	}
	.story-item{
		width: 40%;
	}
	.story-item-container{
		padding: 0px;
	}
	.story-view-nav{
		padding-left: 50px;
		padding-right: 50px;
	}
	.story-view-container p{
		padding: 0 15px;
		box-sizing: border-box;
		width: 100%;
	}
	.story-title-box{
		min-height: 590px;
	}
	.story-title-box h2{
		top: 250px;
	}
	.story-title-box p{
		top: 300px;
	}
	.more-story-container{
		justify-content: space-around;
	}
	.more-story-box {
    	width: 30.3%;
	}
	.specifications-block{
		flex-direction: column;
		align-items: center;
	}
	.parameters-container{
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
		margin: 0;
	}
	.specifications-photo{
		width: 100%;
		top: 140px;
	}
	.parameters-right li:before {
		left: -230px;
	}
	.preorder-moto-btn{
		left: 50px;
	}
}
@media screen and (max-width: 1024px){
	.team-container{
		height: 60vh;
	}
	.local-left h3{
		font-size: 28px;
	}
	.local-container {
    	min-height: 420px;
	}

}
@media screen and (max-width: 768px){
	.moto-blog-box{
		width: 50%;
	}
	.story-view-container{
		padding-top: 0;
	}
	.parameters-right li:before {
		width: 55px;
		left: -105px;
	}
	.parameters-right{
		width: 32%;
	}
	.moto-header-title{
		bottom: 375px;
	}
}

@media screen and (max-width: 480px){
	.nav{
		padding-right: 0;
		padding-left: 0;
	}
	.fix{
		height: 80px;
	}
	.logo{
		z-index: 100;
		width: 118px;
		position: absolute;
		top: 35px;
		left: 30px;	
	}
	.logo a , .logo img{
		width: 100%;
	}
	.menu{
		position: absolute;
		flex-direction: column;
		top: 0;
		width: 100%;
		background-color: #2ABF7A;
		padding-top: 80px;
		padding-bottom: 20px;
		z-index: 50;
		transform: translateX(100%);
		transition: 0.4s;
	}
	.menu li{
		margin-right: 0;
		padding: 25px 0;
	}
	.drop-btn{
		width: 35px;
		position: absolute;
		right: 30px;
		top: 36px;
		cursor: pointer;
		z-index: 100;
		display: block;
	}
	.stick-top , .stick-mid , .stick-bot{
		width: 100%;
		height: 3px;
		background-color: #fff;
	}
	.stick-mid{
		margin: 12px 0px;
	}
	.show{
		transform: translateX(0%);	
		box-shadow: 0px 10px 32px 5px #000;
	}
	.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
		background-color: #FD5E53;
	}
	.top-move{
		display: none;
	}
	.mid-move{
		transform: rotate(130deg);
	}
	.bot-move{
		transform: rotate(50deg);
		position: relative;
		top: -15px;
	}
	.more-story-box{
		width: 100% !important;
	}
	.more-story-box h3 , .more-story-box p , .more-story-box a{
		text-align: center;
		display: block;
	}
	.more-story-box p{
		padding: 30px 60px;
	}
	.more-story-box a{
		margin-top: 10px;
	}
	.header-title h1 {
    	font-size: 38px;
    	text-align: center;
    	height: 42px;
    	overflow: hidden;
    	width: 91%;
    	margin: auto;
	}
	.header-title h2 {
    	font-size: 16px;
    	text-align: center;
    	margin-top: 35px;
	}
	.header-title{
		left: 0;
		width: 100%;
	}

	.moto-container{
		flex-direction: column;
	}
	.moto-box{
		width: 100%;
		height: 271px;
	}
	.preorder-btn{
		width: 100%;
	}
	.moto-box-info h2{
		font-size: 30px;
	}
	.moto-box-info a{
		font-size: 14px;
	}
	.moto-box img{
		height: 100%;
	}
	.moto-about{
		flex-direction: column-reverse;
		padding-bottom: 58px;
	}
	.moto-about-right{
		width: 100%;
	}
	.moto-about-left-box h2{
		font-size: 20px;
		text-align: center;
	}
	.moto-about-left-box p{
		font-size: 14px;
		text-align: center;
		padding: 0 14px;
	}
	.moto-about-left-box a{
		display: block;
		width: 100%;
		text-align: center;	
		padding-top: 30px;
	}
	.moto-about-left{
		width: 100%;
	}
	.moto-about-left-box{
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 58px;
		width: 100%;
	}
	.moto-blog-box-info{
		width: 100%;
		left: 0;
	}
	.moto-blog-container{
		flex-direction: column-reverse;
	}
	.moto-blog-box{
		width: 100% !important;
	}
	.moto-blog-box-info{
		width: 100% !important;
		bottom: 50px;
	}
	.moto-blog-box-info p{
		width: 100% !important;
		box-sizing: border-box;
	}
	.moto-blog-box-info a , .moto-blog-box-info p{
		text-align: center;
		padding: 0 15px;
	}
	.moto-blog-box-info a{
		display: block;
	}
	.team-box{
		height: 810px;
		padding-top: 50px;
	}
	.team-box img{
		width: 200px !important;
		height: 200px !important;
		margin: auto;
		display: block;
	}
	.team-item{
		width: 100%;
	}
	.team-item h4{
		font-size: 18px;
	}
	.owl-dot active{
		background-color: red;
	}
	.team-item h5{
		font-size: 15px;
	}
	.team-item p{
		font-size: 16px;
		padding: 30px 60px;
		line-height: 25px;
		color: #CCCCCC;
	}
	.sub-news-container{
	
		height: 812px;
	}
	.sub-news-container h3 {
		font-size: 20px;
		text-align: center;
	}
	.sub-news-container form{
		flex-direction: column;
		height: 280px;
		justify-content: space-between;
		align-items: center;
	}
	.sub-news-container form label{
		margin-right: 0;
	}
	.footer-container{
		flex-direction: column;
	}
	.footer-box > ul > li > a{
		text-align: center;
		display: block;
	}
	.footer-box h3{
		text-align: center;
	}
	.footer-container{
		box-sizing: content-box;
		padding-top: 86px;
		height: auto;
	}
	.footer-box{
		padding-top: 51px;
	}
	.footer-social{
		width: 235px;
		margin: auto;
		flex-wrap: wrap;

	}
	.footer-social li{
		margin: 35px;
	}

	.about-title h1{
		font-size: 38px;
		padding: 0 65px;
	}
	.about-title h2{
		font-size: 16px;
		padding: 15px 90px;
	}
	.column{
		flex-direction: column;
		height: auto;
	}
	.team-container , .local-container{
		height: auto;
	}
	.local-container{
		flex-direction: column-reverse;
		padding-top: 50px;
	}
	.local-left, .local-right{
		width: 100%;
	}
	.local-left{
		padding-left: 0px !important;
	}
	.local-left span{
		text-align: center;
	}
	.local-left a{
		display: block;
		text-align: center;
	}
	.local-left h3{
		display: none;
	}

	.story-nav{
		width: 100%;
	}
	.story-item {
    	width: 100% !important;
	}
	.story-item-container{
		padding: 0 29px !important;
	}
	.story-title-box h2{
		font-size: 20px;
		top: 35%;
	}
	.story-title-box p{
		font-size: 13px;
		top: 36%;
		width: 215px;
		margin: auto;
		left: 0;
		right: 0;
	}
	.story-title-box{
		min-height: 350px;
		padding: 0;
		margin-top: 83px;
	}
	.blur-img{
		display: block;
	}
	.img-none{
		display: none;
	}
	.story-view-container{
		flex-direction: column;
	}
	.story-view-left , .story-view-right{
		width: 100%;
	}
	.story-view-right{
		display: flex;
		flex-direction: column-reverse;
	}
	.story-view-container p, .story-view-bot p{
		font-size: 14px;
		padding: 0 45px;
		text-align: center;
		line-height: 25px;
	}
	.story-view-bot p{
		margin: 0;
		width: 100%;
		padding: 95px 45px;
		box-sizing: border-box;
	}
	.story-view-bot{
		padding-top: 95px;
	}
	.social-box{
		display: none;
	}
	.story-view-header{
		position: relative;
	}
	.story-link a:first-child{
		position: absolute;
		right: 0px;
		left: 0px;
		text-align: center;
		top: 110px;
	}
	.story-link a:last-child{
		position: absolute;
		right: 30px;
		top:26px;
	}
	.story-view-nav{
		padding-top: 75px;
	}
	.story-title-box a{
		font-size: 14px;
	}
	.story-view-container{
		padding-top: 40px;
	}
	.story-title-box a:after{
		position: relative;
		top: 20px;
	}
	.parameters-left li{
		font-size: 18px;
		text-align: left;
	}
	.parameters-right li{
		font-size: 15px;
		text-align: right;
	}
	.parameters-right li:before {
		display: none;
	}
	.specifications-photo > .specifications-form > .preorder-form-btn{
		width: 70%;
	}
	.moto-header-title{
		bottom: 290px;
		left: 40px;
		font-size: 35px;
	}
}	
@media screen and (max-width: 375px){
	.parameters-left li{
		font-size: 15px;
	}
	.parameters-right {
    	width: 60%;
	}
	.parameters-container{
		padding: 0 10px;
	}

}